@model Intern

<div class="container" style="margin: 16px 0;">
	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label asp-for="Name">Name:</label>
			<input disabled class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Surname">Surname:</label>
			<input disabled class="form-control" asp-for="Surname" />
			<span asp-validation-for="Surname" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BirthYear">BirthYear:</label>
			<input disabled class="form-control" asp-for="BirthYear" />
			<span asp-validation-for="BirthYear" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label>UserName:</label>
			<input disabled class="form-control" value="@Model.AppUser.UserName" />
			<span class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input disabled class="form-control" value="@Model.AppUser.Email" />
			<span class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label>Image:</label>
			<img style="width:200px;height:200px;" disabled class="form-control" src="~/Images/Interns/@Model.Image" />
		</div>
		<button asp-controller="Intern" asp-action="index" style="width: 180px; margin-top: 16px;" class="btn btn-success btn-rounded">Go Home</button>
		@Html.AntiForgeryToken()
	</form>
</div>