@model Forage.Service.Dtos.AboutLanguages.AboutLanguagePostDto

<div class="container" style="margin: 16px 0">
	<form method="post" enctype="multipart/form-data">
		<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label asp-for="SmallHeader">SmallHeader:</label>
			<input class="form-control" asp-for="SmallHeader" />
			<span asp-validation-for="SmallHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="MainHeader">MainHeader:</label>
			<input class="form-control" asp-for="MainHeader" />
			<span asp-validation-for="MainHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="MainText">MainText:</label>
			<input class="form-control" asp-for="MainText" />
			<span asp-validation-for="MainText" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SecondHeader">SecondHeader:</label>
			<input class="form-control" asp-for="SecondHeader" />
			<span asp-validation-for="SecondHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="FirstStratHeader">FirstStratHeader:</label>
			<input class="form-control" asp-for="FirstStratHeader" />
			<span asp-validation-for="FirstStratHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="FirstStratText">FirstStratText:</label>
			<input class="form-control" asp-for="FirstStratText" />
			<span asp-validation-for="FirstStratText" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SecondStratHeader">SecondStratHeader:</label>
			<input class="form-control" asp-for="SecondStratHeader" />
			<span asp-validation-for="SecondStratHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SecondStratText">SecondStratText:</label>
			<input class="form-control" asp-for="SecondStratText" />
			<span asp-validation-for="SecondStratText" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ThirdStratHeader">ThirdStratHeader:</label>
			<input class="form-control" asp-for="ThirdStratHeader" />
			<span asp-validation-for="ThirdStratHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ThirdStratText">ThirdStratText:</label>
			<input class="form-control" asp-for="ThirdStratText" />
			<span asp-validation-for="ThirdStratText" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="FourthStratHeader">FourthStratHeader:</label>
			<input class="form-control" asp-for="FourthStratHeader" />
			<span asp-validation-for="FourthStratHeader" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="FourthStratText">FourthStratText:</label>
			<input class="form-control" asp-for="FourthStratText" />
			<span asp-validation-for="FourthStratText" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="AboutId">AboutId:</label>
			<input class="form-control" asp-for="AboutId" />
			<span asp-validation-for="AboutId" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="LanguageId">LanguageId:</label>
			<input class="form-control" asp-for="LanguageId" />
			<span asp-validation-for="LanguageId" class="text text-danger"></span>
		</div>
		@Html.AntiForgeryToken()
		<button type="submit" style="width: 180px; margin-top: 16px;" class="btn btn-success btn-rounded">Create</button>
	</form>
</div>