@model Forage.Service.Dtos.Abouts.AboutPostDto

<div class="container" style="margin: 16px 0">
	<form method="post" enctype="multipart/form-data">
		<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label asp-for="Image">Image:</label>
			<input type="file" class="form-control" asp-for="Image" />
			<span asp-validation-for="Image" class="text text-danger"></span>
		</div>
		@Html.AntiForgeryToken()
		<button type="submit" style="width: 180px; margin-top: 16px;" class="btn btn-success btn-rounded">Create</button>
	</form>
</div>